In [5]:
import numpy as np
import pandas as pd

In [6]:
news_df = pd.read_csv("investing_com.csv")
news_df

,headline,date,content,id
0,The 2018 Contrarians Who Got It Right: What Th...,2018-12-08,\n\n\n(Bloomberg) -- With just three weeks to ...,7445
1,Colombia stocks higher at close of trade; COLC...,2018-08-16,\n\n\n\n\n\n\n\n\n\nInvesting.com – Colombia s...,7446
2,Canada stocks lower at close of trade; S&P/TSX...,2019-05-10,\n\n\n\n\n\n\n\n\n\n\nInvesting.com – Canada s...,7447
3,Three U.S. senators urge Amazon's Bezos to che...,2019-09-12,\nWASHINGTON (Reuters) - Three U.S. senators o...,7448
4,Surging Chinese Tech Stocks Bring A-Shares Fla...,2018-09-14,\n(Bloomberg) -- U.S. investors looking to get...,7449
...,...,...,...,...
50797,China stocks higher at close of trade; Shangha...,2018-12-13,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nInvesting....,58242
50798,Cannabis Goes Legal in Canada as Investors Rid...,2018-10-17,\n(Bloomberg) -- Canada’s drive to legalize ma...,58243
50799,Former Braskem CEO target of Brazil corruption...,2019-08-21,\n\nSAO PAULO (Reuters) - Former executives of...,58244
50800,At Least Two-Thirds of China’s Economy to Stay...,2020-01-30,\n\n(Bloomberg) -- More than a dozen Chinese p...,58245
50801,Four U.S. cities sue over Trump 'sabotage' of ...,2018-08-02,By Nate Raymond(Reuters) - Four major U.S. cit...,58246

In [29]:
news_df=news_df.drop(columns=["headline", "id", "date"])
news_df

                                                 content
0      \n\n\n(Bloomberg) -- With just three weeks to ...
1      \n\n\n\n\n\n\n\n\n\nInvesting.com – Colombia s...
2      \n\n\n\n\n\n\n\n\n\n\nInvesting.com – Canada s...
3      \nWASHINGTON (Reuters) - Three U.S. senators o...
4      \n(Bloomberg) -- U.S. investors looking to get...
...                                                  ...
50797  \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nInvesting....
50798  \n(Bloomberg) -- Canada’s drive to legalize ma...
50799  \n\nSAO PAULO (Reuters) - Former executives of...
50800  \n\n(Bloomberg) -- More than a dozen Chinese p...
50801  By Nate Raymond(Reuters) - Four major U.S. cit...

[50802 rows x 1 columns]

In [30]:
news_df=news_df.rename(columns={"content":"news_body"})

In [31]:
news_df

                                               news_body
0      \n\n\n(Bloomberg) -- With just three weeks to ...
1      \n\n\n\n\n\n\n\n\n\nInvesting.com – Colombia s...
2      \n\n\n\n\n\n\n\n\n\n\nInvesting.com – Canada s...
3      \nWASHINGTON (Reuters) - Three U.S. senators o...
4      \n(Bloomberg) -- U.S. investors looking to get...
...                                                  ...
50797  \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nInvesting....
50798  \n(Bloomberg) -- Canada’s drive to legalize ma...
50799  \n\nSAO PAULO (Reuters) - Former executives of...
50800  \n\n(Bloomberg) -- More than a dozen Chinese p...
50801  By Nate Raymond(Reuters) - Four major U.S. cit...

[50802 rows x 1 columns]

In [32]:
remove_newline = lambda x: x.replace('\n', '')
news_df['news_body'] = news_df['news_body'].apply(remove_newline)
news_df

                                               news_body
0      (Bloomberg) -- With just three weeks to go, 20...
1      Investing.com – Colombia stocks were higher af...
2      Investing.com – Canada stocks were lower after...
3      WASHINGTON (Reuters) - Three U.S. senators on ...
4      (Bloomberg) -- U.S. investors looking to get i...
...                                                  ...
50797  Investing.com – China stocks were higher after...
50798  (Bloomberg) -- Canada’s drive to legalize mari...
50799  SAO PAULO (Reuters) - Former executives of Bra...
50800  (Bloomberg) -- More than a dozen Chinese provi...
50801  By Nate Raymond(Reuters) - Four major U.S. cit...

[50802 rows x 1 columns]

In [36]:
# news_df= news_df.dropna()
news_df = news_df.dropna(subset=['news_body'])
# news_df.to_csv("clean_news_dataset.csv", index=False)
news_df

                                               news_body
0      (Bloomberg) -- With just three weeks to go, 20...
1      Investing.com – Colombia stocks were higher af...
2      Investing.com – Canada stocks were lower after...
3      WASHINGTON (Reuters) - Three U.S. senators on ...
4      (Bloomberg) -- U.S. investors looking to get i...
...                                                  ...
50797  Investing.com – China stocks were higher after...
50798  (Bloomberg) -- Canada’s drive to legalize mari...
50799  SAO PAULO (Reuters) - Former executives of Bra...
50800  (Bloomberg) -- More than a dozen Chinese provi...
50801  By Nate Raymond(Reuters) - Four major U.S. cit...

[50802 rows x 1 columns]

In [41]:
news_df = news_df[news_df['news_body'].apply(lambda x: len(str(x)) > 0)]
news_df

                                               news_body
0      (Bloomberg) -- With just three weeks to go, 20...
1      Investing.com – Colombia stocks were higher af...
2      Investing.com – Canada stocks were lower after...
3      WASHINGTON (Reuters) - Three U.S. senators on ...
4      (Bloomberg) -- U.S. investors looking to get i...
...                                                  ...
50797  Investing.com – China stocks were higher after...
50798  (Bloomberg) -- Canada’s drive to legalize mari...
50799  SAO PAULO (Reuters) - Former executives of Bra...
50800  (Bloomberg) -- More than a dozen Chinese provi...
50801  By Nate Raymond(Reuters) - Four major U.S. cit...

[43452 rows x 1 columns]

In [42]:
news_df_400 = news_df[:400]
news_df_400

                                             news_body
0    (Bloomberg) -- With just three weeks to go, 20...
1    Investing.com – Colombia stocks were higher af...
2    Investing.com – Canada stocks were lower after...
3    WASHINGTON (Reuters) - Three U.S. senators on ...
4    (Bloomberg) -- U.S. investors looking to get i...
..                                                 ...
461  (Bloomberg) --  Goldman Sachs Group  Inc (NYSE...
463  Investing.com - Facebook (NASDAQ:FB) Stock fel...
464  (Reuters) -  United Parcel  Service Inc (N:UPS...
465  By Vibhuti Sharma(Reuters) - Netflix Inc (O:NF...
466  BRASILIA (Reuters) - A group of 39 companies, ...

[400 rows x 1 columns]

In [43]:
news_df_1 = news_df_400[:100]
news_df_2 = news_df_400[101:200]
news_df_3 = news_df_400[201:300]
news_df_4 = news_df_400[301:400]
news_df_1

                                             news_body
0    (Bloomberg) -- With just three weeks to go, 20...
1    Investing.com – Colombia stocks were higher af...
2    Investing.com – Canada stocks were lower after...
3    WASHINGTON (Reuters) - Three U.S. senators on ...
4    (Bloomberg) -- U.S. investors looking to get i...
..                                                 ...
113  Investing.com – Sweden stocks were lower after...
114  TEL AVIV (Reuters) - Salesforce.com (N:CRM) is...
116  Investing.com – Saudi Arabia stocks were lower...
117  By Stephanie Nebehay and Ryan WooGENEVA/BEIJIN...
119  Investing.com – Canada stocks were lower after...

[100 rows x 1 columns]

In [44]:
news_df_1.to_csv("clean_news_1.csv", index=False)
news_df_2.to_csv("clean_news_2.csv", index=False)
news_df_3.to_csv("clean_news_3.csv", index=False)
news_df_4.to_csv("clean_news_4.csv", index=False)

In [45]:
news_df_1

                                             news_body
0    (Bloomberg) -- With just three weeks to go, 20...
1    Investing.com – Colombia stocks were higher af...
2    Investing.com – Canada stocks were lower after...
3    WASHINGTON (Reuters) - Three U.S. senators on ...
4    (Bloomberg) -- U.S. investors looking to get i...
..                                                 ...
113  Investing.com – Sweden stocks were lower after...
114  TEL AVIV (Reuters) - Salesforce.com (N:CRM) is...
116  Investing.com – Saudi Arabia stocks were lower...
117  By Stephanie Nebehay and Ryan WooGENEVA/BEIJIN...
119  Investing.com – Canada stocks were lower after...

[100 rows x 1 columns]

In [46]:
news_df_2

                                             news_body
121  Investing.com - Microsoft (NASDAQ:MSFT) fell b...
122  TORONTO (Reuters) - Shares of Eldorado Gold ro...
123  Investing.com – Philippines stocks were higher...
124  Investing.com – Saudi Arabia stocks were highe...
125  Investing.com – Australia stocks were higher a...
..                                                 ...
234  Investing.com – Finland stocks were higher aft...
235  By Cassandra Garrison and Felipe IturrietaSANT...
237  (Reuters) - Kraft Heinz Co (O:KHC) on Thursday...
238  (Reuters) - Abercrombie & Fitch Co's (N:ANF) n...
239  By Yasin EbrahimInvesting.com - Peloton report...

[99 rows x 1 columns]

In [47]:
news_df_2.iloc[1]["news_body"]

'TORONTO (Reuters) - Shares of Eldorado Gold rose as much as 14.6% on Monday on optimism that a snap poll called by Greece could result in the election of a new business-friendly party and help resolve permitting problems the miner has faced for years.Greek Prime Minister Alexis Tsipras said he would call a snap vote following his party\'s defeat in European Parliamentary elections to the opposition conservative New Democracy Party.Eldorado shares were up 13.7% at C$4.74 in afternoon trade in Toronto, compared with a 0.3% decline in the benchmark S&P/TSX Global Gold Index. The stock earlier rose to the day\'s high of C$4.78.The Vancouver-based company has two operating mines and two development projects in Greece, and has struggled with permitting delays at its Skouries location for years, mainly over environmental regulations. The country accounts for 42% of Eldorado\'s operating net asset value, according to Desjardins."A political shift to a more pro-business climate has potential positive implications for the company\'s outlook in-country," Josh Wolfson, an analyst at Desjardins, wrote in a note.Eldorado halted construction in November 2017 at Skouries, which has reserves of 3.7 million ounces of gold and 1.7 billion pounds of copper, citing the delays. The company said in September it would seek 750 million euros ($839.03 million) from the government for damages it said it had suffered due to the delays.An Eldorado spokeswoman did not immediately respond to a request for comment. Eldorado Chief Executive George Raymond Burns said on an analyst call in February that the company was "feeling fairly optimistic that the election process could bring about a significant change in sentiment." ($1 = 0.8939 euros) '

In [8]:
df1 = pd.read_csv("labeled_clean_news_1.csv")
df2 = pd.read_csv("labeled_clean_news_2.csv")
df3 = pd.read_csv("labeled_clean_news_3.csv")
df4 = pd.read_csv("labeled_clean_news_4.csv")

res_df = pd.concat([df1, df2, df3, df4], axis=0)
res_df.to_csv("labeled_clean_news.csv", index=False)

In [12]:
test_df = pd.read_csv("labeled_clean_news.csv", index=False)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [15]:
test_df=test_df.drop("Unnamed: 3", axis = 1)

In [20]:
test_df.to_csv("test_labeled_news.csv", index=False)

In [19]:
test_df = pd.read_csv("test_labeled_news.csv")
test_df

                                             news_body  sentiment  original
0    (Bloomberg) -- With just three weeks to go, 20...          1         2
1    Investing.com ? Colombia stocks were higher af...          1         2
2    Investing.com ? Canada stocks were lower after...          0         0
3    WASHINGTON (Reuters) - Three U.S. senators on ...          0         0
4    (Bloomberg) -- U.S. investors looking to get i...          1         1
..                                                 ...        ...       ...
392  (Bloomberg) --  Goldman Sachs Group  Inc (NYSE...          1         2
393  Investing.com - Facebook (NASDAQ:FB) Stock fel...          0         0
394  (Reuters) -  United Parcel  Service Inc (N:UPS...          1         1
395  By Vibhuti Sharma(Reuters) - Netflix Inc (O:NF...          1         2
396  BRASILIA (Reuters) - A group of 39 companies, ...          0         0

[397 rows x 3 columns]